<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Recuperação de Senha</title>
    <style>
      body {
        font-family: sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        line-height: 22px;
        margin: 0;
        padding: 0;
        -ms-text-size-adjust: 100%;
        font-weight: 300;
        -webkit-text-size-adjust: 100%;
      }
      h2 {
        color: #6B89BB;
        font-size: 20px;
        font-weight: bolder;
      }
      p {
        font-size: 16px;
        line-height: 22px;
        color: #212529;
      }
  </style>
</head>
<body>
  <h2>Recuperação de Senha</h2>
  <hr>
  <p>Você iniciou o procedimento de recuperação de senha para o e-mail: {{email}}</p>
  <p>Clique no link abaixo para redefinir sua senha.</p>
  <p>Link: <a href="{{link}}" target="_blank">{{link}}</a></p>

  <p>Este link expira em 24h.</p>

  <p>Caso tenha quaisquer problemas, entre em contato conosco através do e-mail 13registro@13registro.com.br</p>

  <p>Atenciosamente,</p>
  <p>13º Registro de Imóveis de São Paulo.</p>

  <p><strong>Observação:</strong> esta é uma mensagem automática, favor não responder. Caso queira entrar em contato conosco, utilize o formulário de contato do site, o e-mail 13registro@13registro.com.br ou ligue para o telefone (11) 3218-0090.</p>
</body>
</html>









